html{
    scroll-behavior: smooth;
    
    width: 100%;
}
header {
    background-color: #e69393;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 10px;
    box-shadow: 3px 3px 5px 5px black;
    color: white;
    text-decoration: none;
    font-size: larger;
    z-index: 1;
}
main {
    margin-top: 80px;
}
nav ul {
    display: flex;
    text-align: center;
    text-indent: 100px;
    font-family: cursive;
    margin-top: 0%;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 30px;
    list-style: none;


}
a {
    text-decoration: none;
}

body {
    background-color: rgb(15, 15, 50);
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    top: 0%;
    

}

#name {
    color: azure;
    white-space: nowrap;
    margin: 50px;
    font-family: cursive;
    animation: typing 10s steps(40, end);
    overflow: hidden;
    word-spacing: normal;
    text-align: center;
    position: absolute;
    top: 87%;
    left: 46%;
    transform: translate(-50%, -50%);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.me {
    height: 500px;
    margin: 0    auto;
    padding: 0;
    position: absolute;
    top: 355px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#details{
    margin-top:45%;
    margin-left: 20%;
    padding: 5%;
    width: 50%;
    text-align: center;
    
}

#details h1{
    color: aliceblue;
    text-decoration: underline dotted;
   font-variant: small-caps;
    }
.p1{
    background-color: rgb(247, 247, 247);
    text-align: center;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    
}
#skills{
    margin-left: 20%;
    padding-left: 5%;
    width: 50%;
    text-align: center;
    
}
#skills h1{
    color: aliceblue;
    text-decoration: underline dotted;
   font-variant: small-caps;
 }
.p3{
        background-color: rgb(247, 247, 247);
        text-align: center;
        border-radius: 30px;
        box-shadow: 3px 3px 5px 5px black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: larger;
        
}
#projects{
    text-align: center;
    padding-left: 5%;
    padding-right: 30%;
    margin-left: 20%;
    width: 50%;
}
#projects h1{
    color: aliceblue;
    text-decoration: underline dotted;
    font-variant: small-caps;
}
 
.p2{
    background-color: rgb(247, 247, 247);
    border-radius: 30px;
    text-align: center;
    font-size: larger;
    box-shadow: 3px 3px 5px 5px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    background-color: #000000;
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    color: white;
  
}
.foot{
    color: aliceblue;
    display: flex;
    flex-direction: row;
    font-size: large;
}
#social{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20px;
    padding-left: 25px;
}
#socialname{
    font-style: italic;
    padding-left: 20px;
}


@media only screen and (max-width:450px){
    header{
        width:15vw;
        height: calc(100%);
        margin:0px;
        padding: 0%;
        background-color:rgb(71, 67, 67);
    }
    main{
        margin: 0px;
        width: 100%;
        padding: 0%;
    }
    body{
        width: 100vw;
        margin: 0%;
        padding: 0%;
        
    }
    nav ul{
    padding: 0%;
     margin:0px;
     display: grid;
     left: 10px;
     text-align: left;
     text-indent: 0px;
     filter: drop-shadow(2px 2px 3px black);
     
    }
   a{
    color: burlywood;
    font-size: large;
   }
    .me{
        width:350px;
        height: auto;
        top:150px;
        position: relative;
        left: 360px;
    }
    #name{
        top:350px;
        left: 320px;
    }
    #details, #skills, #projects{
        margin-left: 36%;
        width: 300px;
    }
    #details{
        margin-top: 100px;
    }
    footer{
       width: calc(100% - 150px);
       margin-left: 250px;
    }
    h1{
        font-size: large;
    }
    p{
        font-size: small;
    }
    #socialname{
        font-size: small;
        justify-content: space-around;
        padding:5px 20px 0px 5px;
    }
    #social{
        padding: 5px 2px 5px 15px;
    }
}